<br />
categories_html:
<ul>
	<li class="collapsed"><input type="checkbox" /><span>Vehicles</span>
	<ul>
			<li class="collapsed"><input type="checkbox" /><span>cars</span>
			<ul>
					<li class="collapsed"><input type="checkbox" /><span>bmw</span>
					<ul>
							<li><input type="checkbox" /><span>red</span></li>
							<li><input type="checkbox" /><span>green</span></li>
							<li><input type="checkbox" /><span>yellow</span></li>
							<li><input type="checkbox" /><span>blue</span></li>
							<li><input type="checkbox" /><span>orange</span></li>
							<li><input type="checkbox" /><span>black</span></li>
							<li><input type="checkbox" /><span>purple</span></li>
						</ul>